.style-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(59, 59, 59);
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}
.style-header > p {
  margin: 0;
  padding: 0.8rem;
}
